.friendList {
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light-color);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 400ms;
  border-radius: 6px;
}

.item:hover {
  transform: translateY(4px);
  background-color: var(--primary-color);
  color: var(--light-color);
}

.wrapper {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 20px;
  font-size: 22px;
}

.itemStatus {
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* for hover effect */
  transition-duration: 800ms;
}

.online {
  background-color: green;
  animation-name: pulse;
  animation-duration: 800ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.offline {
  background-color: red;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
